


.container{
    position: relative;
    /* border: 2px solid; */
    /* width: 500px; */
    width: 100%;
    max-width: 400px;

}


.container img{
    width: 100%;
    height: auto;
}
.btn{
    padding: 10px 25px;
    background-color: rgb(58, 56, 56);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, 50%);

    transition: .4s;
    cursor: pointer;
}

.btn:hover{
    background-color: black;
}