


.icon{
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
}

.fa{
    padding: 20px;
    font-size: 25px;
    width: 50px;
    border: 2px solid black;
    text-align: center;
    color: white;
    border: none;
}

.fa:hover{
  opacity: .7;
}

.fa-facebook {
    background: #3B5998;

  }
  
  .fa-twitter {
    background: #55ACEE;

  }
  
  .fa-google {
    background: #dd4b39;
 
  }
  
  .fa-linkedin {
    background: #007bb5;
 
  }
  
  .fa-youtube {
    background: #bb0000;
 
  }
  
  .fa-instagram {
    background: #125688;
 
  }
  
  .fa-pinterest {
    background: #cb2027;
 
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
 
  }
  
  .fa-android {
    background: #a4c639;
 
  }
  
  .fa-dribbble {
    background: #ea4c89;
 
  }
  
  .fa-vimeo {
    background: #45bbff;
 
  }
  
  .fa-tumblr {
    background: #2c4762;
 
  }
  
  .fa-vine {
    background: #00b489;
 
  }
  
  .fa-foursquare {
    background: #45bbff;
 
  }
  
  .fa-stumbleupon {
    background: #eb4924;
 
  }
  
  .fa-flickr {
    background: #f40083;
 
  }
  
  .fa-yahoo {
    background: #430297;
 
  }
  
  .fa-soundcloud {
    background: #ff5500;
 
  }
  
  .fa-reddit {
    background: #ff5700;
 
  }
  
  .fa-rss {
    background: #ff6600;
 
  }


  /* ---------------------- */

  .faone{
    border-radius: 50%;
    padding: 20px;
    width: 30px;
  }