


.main{
    padding: 10px;
}


button{
    padding: 10px 20px;
    background-color: DodgerBlue;
    border:  none;
    color: white;
    font-size: 20px;
    margin-bottom: 3px;
}

button:hover{
    background-color: RoyalBlue;
}