


.button{
    background-color: #04AA6D;
    color: white;
    border: none;
    outline: none;
    width: 80px;
    height: 80px;

    font-size: 20px;
    margin-left: 10px;
}

.button5{
    border-radius: 50%;
}

.button2{
    border-radius: 4px;
}

.button3{
    border-radius: 8px;
}


.button4{
    border-radius: 12px;
}


.button1{
    border-radius: 2px;
}

h2, p{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}